/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

 .ui-datepicker-month , .ui-datepicker-year{
	background-color: #000!important;
}

.fl-page-bar .navbar-nav li> a {
	font-size: 16px;
	padding-left: 50px;
	padding-right: 50px;
}

.menu-item .storename li .phone a span{
	font-size: 16px;
    padding-left: 50px;
    padding-right: 50px
}
.menu-item .storename li .phone a span::before{
	content: "\ea3e";
	font-family: 'Ultimate-Icons' !important;
	font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    font-size: 18px;
    margin-right: 5px;
    vertical-align: middle;
}
.product-detail-layout-default .main-imgs:after{
	bottom: 60px!important;
}
.none{
	display: none!important;
}

@media( min-width:992px){
	
	.fl-page-bar > div {
	  padding-left: 0px!important;
      padding-right: 0px!important;
	}
	.item-link{
		 color: #414042!important;
	}
	.item-link:hover{
		 color: #543019!important;
	}
	.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li>a{
		color: #414042;
	}

	.fl-module-team .uabb-team-icon-1 .uabb-icon-wrap .uabb-icon i:hover, 
	.fl-module-team .uabb-team-icon-1 .uabb-icon-wrap .uabb-icon:hover i:before{
		color: #78a22f;
	}
	ul.social-icons li a:hover i{
		color: #543019;
	}
	.fl-page-nav-right .fl-page-nav-wrap a:hover, 
	.fl-page-nav-right .fl-page-nav-wrap a:focus, 
	.fl-page-nav-right .fl-page-nav-wrap a:hover *, 
	.fl-page-nav-right .fl-page-nav-wrap a:focus *, 
	.fl-page-nav-right .fl-page-nav-wrap a.fas:hover, 
	.fl-page-nav-right .fl-page-nav-wrap a.fab:hover, 
	.fl-page-nav-right .fl-page-nav-wrap a.fas:focus, 
	.fl-page-nav-right .fl-page-nav-wrap a.fab:focus,
	.fl-module-team .uabb-team-icon-1 .uabb-icon-wrap .uabb-icon i, 
	.fl-module-team .uabb-team-icon-1 .uabb-icon-wrap .uabb-icon i:before,
	.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li>a:hover,
	.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.current-menu-ancestor>a, 
	.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.current-menu-parent>a, 
	.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.current-menu-item>a{
		color: #543019;
	}
	.fl-page-nav ul.sub-menu,
	.fl-page-nav-search form{
		border-color: #543019 !important;
	}
	.button-wrapper-default a:hover{
		background: #543019;
		border: 2px solid #543019;
	}
}

.galleryMenu .menu-item > a {
    margin: 0 15px;
}

	li input[type=checkbox]{
		margin-top: 0px!important;
	}
.home_map{
	height: 100%;
}
.home_map *{
	height: 100%!important;
}
.gform_body .gfield_time_ampm {
	min-width: 60px!important;
}

.gform_body .gfield_time_ampm select{ 
	min-width: 60px!important;
}

@media( max-width: 1024px){ 
.col_padd > div {
    padding: 0px 10px!important;
}
}
@media( max-width:992px){
	.item-link{
		 padding-left: 15%!important;
		color: #ffffff!important;
		font-size: 13px!important;
	}
	.uabb-image-carousel .slick-arrow i{
	font-size: 26px!important;
    padding: 10px!important;
}
	.ml-0{
	margin-left: 0px!important;
}
	header .fl-page-header-logo{
		text-align: left!important;
    }
	.top-bar-nav li{
		padding: 8px 0px;
	}
	
	 .fl-post-image-beside {
		width: 100%!important;
	}
	.product-detail-layout-default .main-imgs:after{
	  bottom: 140px!important;
    }
}
	

.storename .store-opening-hrs-container ul{
 	list-style: none;
}
.storename .store-opening-hrs-container ul li{
 	position: relative;
}

.storename .store-opening-hrs-container ul li span{
 	position: absolute;
	right: 0;
	width: 60%;
}
.copy-right-barr .fl-menu .menu > li {
    float: left!important;
}

.top-bar-nav .phone a span::before{
	transform: rotate(90deg);
}
footer .ua-icon-phone3{
	transform: rotate(90deg);
}

#field_18_7 input{
	width: 100%;
}

#field_23_8 i{
	margin-top: 0px!important;
}
.search-row .product-grid .getcoupon-btn{
	padding: 8px 12px;
	text-decoration: none;
}


/* .search-row .product-grid .plp-view-product{
	margin-top: 8px!important;
} */

@media(max-width: 425.98px){
	.search-row .product-grid .fl-post-grid-post{
		margin-bottom: 20px!important;
	}
	#menu-item-349403{
		height: 40px!important;
		margin-top: 40px!important;
	}
	.footer_icon .fl-icon-wrap{
		margin-left: -17px!important;
	} 
	li input[type=checkbox]{
		vertical-align: top!important;
	}
	#choice_19_5_1{
		vertical-align: middle!important;	
	}
}

@media(max-width: 690.98px){
	.top-bar-nav{
	height: 167px!important;
	}
	button#responsive-menu-button {
    width: 45px!important;
    height: 45px!important;
    top: 195px!important;
}
	.fl-page-bar-container{
		padding-top: 0px!important;
		padding-bottom: 0px!important;
	}
	footer 	div.footer_col:nth-child(4){
		width: 100%!important;
		text-align: left;
	}
}

@media(max-width: 575.98px){
	.btn-100{
		width: 100%!important;
	}
	 .top-bar-nav li {
		padding: 10px 0px!important;
		float: left!important;
		display: inline-block!important;
		width: 50%!important;
   }
	 .top-bar-nav li a{
		padding: 0px 10px!important;
		
   }
	 .top-bar-nav #menu-item-483277{
		display: inline-block!important;
   }
	 .top-bar-nav #menu-item-483277 span{
		padding: 0px!important;
   }
	 .top-bar-nav li:nth-child(5) {
		text-align: center!important;
   }
	 .top-bar-nav li:nth-child(1) {
		float: none!important;
		 width: 100%!important;
   }
	
	footer 	 div.footer_col:nth-child(1){
		width: 50%!important;
	}
	footer 	div.footer_col:nth-child(2){
		width: 50%!important;
	}
	footer 	div.footer_col:nth-child(3){
		width: 40%!important;
		text-align: left;
	}
	footer 	div.footer_col:nth-child(4){
		width: 60%!important;
		text-align: left;
	}
	
	footer 	.fl-node-5c6fdfb622730 .fl-node-5c6fdfb622735 .fl-module-content{
		text-align: center;
	}
	
	
	nav #menu-copyright-bar-menu{
		text-align: center;
		float: none!important;
	}
	nav #menu-copyright-bar-menu #menu-item-349403 {
		float: none!important;
	}
	
	button#responsive-menu-button {
		width: 45px!important;
		height: 45px!important;
		top: 148px!important
    }
	body .fl-page-bar{
		height: 137px!important;
	}
	.top-bar-nav{
	height: 137px!important;
	}
	#label_19_5_1{
		padding-left: 0px!important;
	}
	.fl-page-bar-container{
		padding-left: 0px!important;
		padding-right: 0px!important;
	}
	
	#input_18_8_3,#input_23_8_3{
		 max-width: 65px!important;
		 min-width: 60px!important;
	}
	.product-detail-layout-default .main-imgs:after{
	  bottom: 50px!important;
    }
	.gfield_time_hour i{
		margin-top: -2px!important;
	}
	
}



	.top-bar-nav li>a{
		padding: 6px 12px!important;
	}
 
